<div class="lang-switcher">
  {% for lang in site.languages %}
      {% assign lang_name = site.data.lang[lang].name %}
      {% assign lang_icon = site.data.lang[lang].icon %}
      {% if lang == site.default_lang %}
        <a href=" {{ site.baseurl }}{{ page.url }}" title="{{ lang_name }}" hreflang="{{ lang }}">{{ lang_icon }}</a>
      {% else %}
        <a href="{{ site.baseurl }}/{{ lang }}{{ page.url }}" title="{{ lang_name }}" hreflang="{{ lang }}">{{ lang_icon }}</a>
      {% endif %}
  {% endfor %}
</div>
