<script>
  'use strict';

  (function () {
    var commentContainer = document.querySelector('#giscus-comments');

    if (!commentContainer) {
      return;
    }

    var script = document.createElement('script');

    script.setAttribute('src', 'https://giscus.app/client.js');
    script.setAttribute('data-repo', '{{ site.comments.giscus.repo | default: site.repository | downcase }}');
    script.setAttribute('data-repo-id', '{{ site.comments.giscus.repo_id }}');
    script.setAttribute('data-category', '{{ site.comments.giscus.category_name }}');
    script.setAttribute('data-category-id', '{{ site.comments.giscus.category_id }}');

    script.setAttribute('data-mapping', 'specific');
    script.setAttribute('data-strict', '{{ site.comments.giscus.strict | default: 1 }}');
    script.setAttribute('data-term', '{{ page.comments_id | default: page.slug | escape }}');

    script.setAttribute('data-reactions-enabled', '{{ site.comments.giscus.reactions_enabled | default: 1 }}');
    script.setAttribute('data-emit-metadata', '{{ site.comments.giscus.emit_metadata | default: 0 }}');
    script.setAttribute('data-input-position', '{{ site.comments.giscus.input_position | default: "top" }}');
    script.setAttribute('data-theme', '{{ site.comments.giscus.theme | default: "light" }}');
    script.setAttribute('data-lang',  '{{ page.lang | default: site.active_lang | default: site.locale | slice: 0,2 }}');
    {% if site.comments.giscus.lazy %}
    script.setAttribute('data-loading', 'lazy');
    {% endif %}
    script.setAttribute('crossorigin', 'anonymous');

    script.setAttribute('async', '');

    commentContainer.appendChild(script);
  })();
</script>
